--- 
http_interactions: 
- request: 
    method: post
    uri: https://connecteddata.host4kb.com/api.php
    body: 
      string: |
        <?xml version="1.0" ?><methodCall><methodName>add.Article</methodName><params><param><value><string>cb15faf01551d83aa1c6f517549531c5</string></value></param><param><value><string>My New Test Article</string></value></param><param><value><string>&lt;h1&gt;Quidem dolorum&lt;/h1&gt;&lt;table&gt;
              &lt;thead&gt;
              &lt;tr&gt;
              &lt;th&gt;Aut&lt;/th&gt;
              &lt;th&gt;Quasi&lt;/th&gt;
              &lt;th&gt;Praesentium&lt;/th&gt;
              &lt;th&gt;Maxime&lt;/th&gt;
              &lt;/tr&gt;
              &lt;/thead&gt;
              &lt;tbo[...]
