--- 
http_interactions: 
- request: 
    method: post
    uri: https://connecteddata.host4kb.com/api.php
    body: 
      string: |
        <?xml version="1.0" ?><methodCall><methodName>get.Article.list.recentlyAdded</methodName><params><param><value><string>cb15faf01551d83aa1c6f517549531c5</string></value></param><param><value><i4>0</i4></value></param><param><value><i4>0</i4></value></param><param><value><i4>10</i4></value></param><param><value><string>Y</string></value></param></params></methodCall>

    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <methodResponse>
        <params>
        <param>
        <value>
        <struct>
        <member>
        <name>start</name>
        <value>
        <int>0</int>
        </value>
        </member>
        <member>
        <name>limit</name>
        <value>
        <int>10</int>
        </value>
        </member>
        <member>
        <name>total</name>
        <value>
        <int>404</int>
        </value>
        </member>
        <member>
        <name>articles</name>
        <value>
        <array>
        <data>
        <value>
        <struct>
        <member>
        <name>faqId</name>
        <value>
        <int>1028</int>
        </value>
        </member>
        <member>
        <name>question</name>
        <value>
        <base64>UW1WdVpHVnlJSFZ6WlNCc1lYUmxjZz09</base64>
        </value>
        </member>
        <member>
        <name>code</name>
        <value>
        <string>AA-01101</string>
        </value>
        </member>
        <member>
        <name>views</name>
        <value>
        <int>0</int>
        </value>
        </member>
        <member>
        <name>rating</name>
        <value>
        <int>0</int>
        </value>
        </member>
        <member>
        <name>featured</name>
        <value>
        <string>N</string>
        </value>
        </member>
        <member>
        <name>answer</name>
        <value>
        <base64>UEhBK1BHSnlQand2Y0Q0PQ==</base64>
        </value>
        </member>
        <member>
        <name>public</name>
        <value>
        <boolean>1</boolean>
        </value>
        </member>
        <member>
        <name>date</name>
        <value>
        <dateTime.iso8601>20140624T21:14:37</dateTime.iso8601>
        </value>
        </member>
        <member>
        <name>lastEditDate</name>
        <value>
        <dateTime.iso8601>20140624T21:14:37</dateTime.iso8601>
        </value>
        </member>
        <member>
        <name>publicStartDate</name>
        <value>
        <dateTime.iso8601>20140624T21:14:22</dateTime.iso8601[...]
