--- 
recorded_with: VCR 2.9.2
http_interactions: 
- request: 
    method: post
    uri: https://connecteddata.host4kb.com/api.php
    body: 
      string: |
        <?xml version="1.0" ?><methodCall><methodName>get.Article</methodName><params><param><value><string>cb15faf01551d83aa1c6f517549531c5</string></value></param><param><value><string>AA-00402</string></value></param><param><value><string>Y</string></value></param></params></methodCall>

    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <methodResponse>
        <fault>
        	<value>
        		<struct>
        			<member>
        				<name>faultCode</name>
        				<value><int>1100</int></value>
        			</member>
        			<member>
        				<name>faultString</name>
        				<value><string>Operation aborted. Client have not enough permissions to perform this operation</string></value>
        			</member>
        		</struct>
        	</value>
        </fault>
        </methodResponse>
  recorded_at: Wed, 25 Jun 2014 19:48:02 GMT
[...]
