--- 
recorded_with: VCR 2.9.2
http_interactions: 
- request: 
    method: post
    uri: https://connecteddata.host4kb.com/api.php
    body: 
      string: |
        <?xml version="1.0" ?><methodCall><methodName>system.listMethods</methodName><params><param><value><string>cb15faf01551d83aa1c6f517549531c5</string></value></param></params></methodCall>

    headers: 
      Content-Type: 
      - text/xml; charset=utf-8
  response: 
    status: 
      code: 200
      message: OK
    headers: 
      Content-Type: 
      - text/xml
    body: 
      string: |-
        <?xml version="1.0" encoding="UTF-8"?>
        <methodResponse>
        <params>
        <param>
        <value>
        <array>
        <data>
        <value>
        <string>activate.User</string>
        </value>
        <value>
        <string>add.Article</string>
        </value>
        <value>
        <string>add.Category</string>
        </value>
        <value>
        <string>add.Term</string>
        </value>
        <value>
        <string>add.User</string>
        </value>
        <value>
        <string>deactivate.User</string>
        </value>
        <value>
        <string>delete.User</string>
        </value>
        [...]
